@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-blue: #A4D3E5;
  --primary-text-blue: #2790C3;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}



button:hover {
  border: 2px solid #b0f038;
  border-radius: 8px;
  
  
}

.header {
  background-color: var(--primary-blue);
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 88px;
  padding: 1rem 4rem;
  column-gap: 1rem;
  
}

.user-panel {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-content: center;
}

.cart-logo {
  justify-self: center;
  
}

.shop-btn {
  border-color: black;
  border-radius: 8px;
  width: 178px;
}

.search-container {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--primary-blue);
  min-height: 5rem;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

.search-text {
  font-size: 2rem;
  font-weight: 500;
}

.search-icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 5%;
  top: 30%;

}

.product-listings {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 1rem 4rem;
  position: relative;
  column-gap: 1rem;
}

.filters-container {
  position: relative;
  top: 2%;
  
}

.filter {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-content: center;
  color: var(--primary-text-blue);
  border-bottom: 2px solid var(--primary-text-blue);
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.filter-name {
  position: relative;
  top: 2px;
}

.filter-type-selection-icon {
  width: 56px;
  height: 2rem;
  color:  #2790C3;
  position: relative;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
}

.product-container {
  border-radius: 1rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border: 1px solid #ccc;
  border-top: 0;

  box-shadow: 0px 4px 4px 0px #00000040;
}

.product-info {
  width: 277px;
height: 80px;

}

.product-info > h2 {
  color: #2790C3;
  font-weight: 600;
  line-height: 26.76px;
  
}

.product-info > p {
  color: #2790C3;
  font-weight: 600;
  line-height: 15.61px;
  margin-bottom: 1rem;

}

.star-ratings {
  display: flex;
}

.price-icons {
  display: flex;
  justify-content: space-between;
  color: #2790C3;
}

.priceIcon {
  display: flex;
  justify-content: space-between;
  column-gap: 0.75rem;
}

.footer {
  background-color: var(--primary-blue);
  padding: 2rem 4rem;
}

.footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.newsletter{
  padding: 0 2rem;
  max-width: 387px;
}

.newsletter > h2 {
  font-weight: 200;
  font-size: 20px;
  line-height: 22.3px;
  margin-bottom: 2rem;
}

.newsletter > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20.07px;
  max-width: 323px;
  margin-bottom: 2rem;
}

.newsletter > button {
  background: #F5F5F5;
  border-radius: 3.81rem;
  width: 270px;
  height: 3rem;


}

/* CART PAGE CSS... YEAH I KNOW I NEED TO MASTER TAILWIND */

.cartPromo {
  height: 4rem;
  line-height: 4rem;
  background-color: var(--primary-blue);
  text-align: center;
}

.cartProductIntro {
  padding: 2rem 4rem;
  color: var(--primary-blue);
  font-weight: 600;
  font-size: 24px;
  line-height: 26.76px;
}

.cartProductIntro span {
  color: #2790C3;
  font-weight: 700;
  font-size: 24px;
  line-height: 26.76px;
}

.cart-product {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 2rem 4rem;
  
}

.cartProductImage {
  border: 1px solid #ccc;
  border-top: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 1rem;

}

.cartProductInfoTitle > h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 26.76px;
  color:#2790C3;
  margin-bottom: 1rem;
}

.cartProductInfoTitle > h1 {
  color: #2790C3;
  font-weight: 600;
  font-size: 36px;
  line-height: 40.14px;
  margin-bottom: 1rem;
}

.star-ratings-number {
  display: flex;
  align-content: center;
  column-gap: 2rem;
  position: relative;
  margin-bottom: 0.5rem;
  
}

.star-ratings-number > .number {
  color: #2790C3;
  position: relative;
  bottom: 4px;
}

.price-review {
  display: flex;
  align-content: center;
  column-gap: 5rem;
  position: relative;
  color: #2790C3;
  margin-bottom: 0.5rem;
}

.cartProductSelection {
  margin-bottom: 1rem;
}

.size-selection > h2 {
  color: #2790C3;
  margin-bottom: 0.3rem;
}

.size-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 514px;
  color: #2790C3;
  margin-bottom: 1rem;
}

.size-button {
  border: 1px solid #2790C3;
  border-radius: 1rem;
  height: 45px;
  width: 106px;
}

.size-guide-link {
  display: flex;
  color: #2790C3;
  align-content: center;
  column-gap: 0.5rem;
  position: relative;
}

.size-guide-text {
  position: relative;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 17.84px;
  bottom: 4px;
}

.number-selection-checkout {
  display: flex;
  align-content: center;
  column-gap: 2rem;
  margin-bottom: 3rem;
}

.number-selection-checkout > select {
  border: 1px solid #2790C3;
  width: 5rem;
  height: 2rem;
  border-radius: 16px;
  padding: 4px;
  padding-right: 1rem;
}

.cart-checkout-btn {
  width: 70%;
  background-color: #2790C3;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #F5F5F5;
}


.cartProductDescription > h2 {
  color: #2790C3;
  font-size: 24px;
  font-weight: 700;
  line-height: 26.76px;
  text-align: left;
  margin-bottom: 2rem;
}

.cartProductDescription > p {
  
  font-size: 24px;
  font-weight: 400;
  line-height: 26.76px;
  text-align: left;
  color: #2790C3;
  margin-bottom: 1rem;
}

.cartProductDescription > p:last-of-type {
  margin-bottom: 3rem;
}

hr {
  border: 1px solid #2790C3;
  margin: 0 4rem 2rem 4rem;
  
}

.cart-recent, .cart-recommend {
  padding: 2rem 4rem;
}

.cart-recent > h2 , .cart-recommend > h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 44.6px;
  text-align: center;
  color: #2790C3;
  margin-bottom: 1rem;

}

.cart-recent-products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-recent-product , .recommendProductImage{
  width:  287px;
  padding: 16px 8px 16px 8px;
  gap: 32px;
  border-radius: 16px;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000040;


}

.recommendProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* CHECKOUT PAGE CSS */
.checkout-page{
  margin: 0 auto;
  width: 75%;
  max-width: 800px;
  border: 2px solid black;
}

.checkout-title {
  color: #2790C3;
  text-align: center;
 
}

.checkout-title > h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  line-height: 107.04px;
  margin-bottom: 1rem;

}

.order {
  text-align: center;
  color: #2790C3;
  font-size: 64px;
  font-weight: 600;
  line-height: 71.36px;
  margin-bottom: 1rem;
}

.checkout-product-container {
  display: flex;
  flex-direction: column;
}

.checkout-product {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;

}

@media (max-width: 480px) {
  .user-panel > ul {
    display: none;
  }

  .navbar {
    display: none;
  }

  .filters-container {
    display: none;
  }
  .products-container{
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
    padding: 2rem 4rem;
  }


.cart-product {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}


.cart-recent-products-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  width: 70%
}

.recommendProducts {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  width: 70%;
}
}